body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
}

.playlist {
    border: 1px solid black;
}