body {
  background: #333;
  color: #EEE;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 800px;
  text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 50px;
  font-weight: 100;
}

#displayTime {
  margin: 20px;
  font-family: 'Orbitron', sans-serif;
  color: #fe0002;
  font-size: 80px;
}

.timerSettings div {
  font-family: 'Orbitron', sans-serif;
  color: #fe0002;
  font-size: 80px;
  margin: 10px;
}

.container {
  margin: auto;
  text-align: center;
  width: 600px;
}

.fa:hover {
  cursor: pointer; 
}

@media only screen and (max-width: 700px){
  body {
    width: 100%;
  }
  h1{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .container {
    display: inline-block;
    width: 100%;
  }
}