<% include partials/header.ejs %>

<h1>Random Quote Generator</h1>
<blockquote>
    <q><%= quote %></q>

    <footer>- <%= author %></footer>
</blockquote>

<button type="submit" name="newQuote">New Quote</button>

<% include partials/footer.ejs %>